#city_id_area {
	display: none;
}

#state_id_area {
	display: none;
}

#group_id_area {
	display: none;
}

#coach_id_area {
	display: none;
}

.action-button input {
	top:15px !important;
}

#cylinder-info {
	top: 40%;
	left: 115px;
	position: absolute;
	z-index: 5;
}