#city_id_area {
	display: none;
}

#state_id_area {
	display: none;
}

#group_id_area {
	display: none;
}

#coach_id_area {
	display: none;
}

#vertical_id_area {
	display: none;
}

.action-button input {
	top:15px !important;
}

p.participation{
	text-align: center;
	background: #ed1849;
	color: #fff !important;
	padding: 5px;
}

#cylinder-info {
	top: 40%;
	left: 85px;
	text-align: center;
	font-size: 14px;
	font-weight: bolder;
	position: absolute;
	z-index: 50;
}

#table_data{
	top:0%;
	position: absolute;
	left: 300px;
	width: 500px;
}

@media only screen and (max-width: 600px){
	#cylinder-info {
		top: 40%;
		left: 33%;
		text-align: center;
		font-size: 14px;
		font-weight: bolder;
		position: absolute;
		z-index: 50;
	}

	#table_data{
		top:105%;
		position: absolute;
		width: 100%;
		left: 0;
	}

}
