@charset "utf-8";
/* CSS Document */

	.box-div{
		padding:14px;
		margin-top:50px;
	}

	.hidden{
		display: none;
	}

	.more0, .more1{
		display: none;
	}

	.activator{
		cursor: pointer;
	}

.hide-row {
	display: none;
}

.card td {
	padding:0;
}

.card .unit-name {
	padding-left: 20px;
}